__pycache__/
*.py[cod]
*.pyd
*.so
build/
dist/
*.egg-info/
.env
.venv
env/
venv/
.idea/
.vscode/
Pipfile.lock
pyproject.toml
*.log
db.sqlite3
db.sqlite3-journal
webassets-cache
.scrapy
docs/_build/
.pytest_cache/
.DS_Store
